/* UConn */
.uconn-edu .title {
  margin-top: 30px;
}
.uconn-edu .image-container .overlay {
  background-color: #141c2c;
}

/* GaTech */
.gatech .title {
  margin-top: 40px;
}
.gatech .image-container .overlay {
  background-color: #000000;
}
