.links {
  text-align: center;
}
.links ul {
  display: inline-table;
  list-style-type: none;
}
.links li {
  display: inline;
  padding: 20px;
}
.links a {
  text-decoration: none;
}
.links a:visited {
  color: #67727a;
}
.links a:link {
  color: #67727a;
}
.download-link li {
  border: 2px solid #6991ac;
}

body {
  /* background-color: #c3d7df; */
}
