.links {
  text-align: center;
}
.links ul {
  display: inline-table;
  list-style-type: none;
}
.links li {
  display: inline-block;
}
.links a {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
.links a:visited {
  color: #67727a;
}
.links a:link {
  color: #67727a;
}
.links li:hover {
  transition: background-color 0.5s linear;
  background-color: #c3d7df;
}
.download-link {
  border: 1px solid #6991ac;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 4px;
}

body {
  /* background-color: #c3d7df; */
}
.material-icons {
  font-size: 18px !important;
  position: relative;
  top: 4px;
}

.link {
  display: block;
}
